@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  background: rgb(104, 34, 34);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 200px;
  height: 300px;
}
.subList {
  display: none;
  height: 100%;
  padding: 0;
  list-style: none;
  position: relative;
  flex-direction: column;
}
/* .subListActive {
  display: flex;
} */
.button2 {
  background-color: rgb(155, 155, 238);
}
.subListActive > .containerActive {
  position: absolute;
  z-index: 3;
}
.container {
  flex: 1;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  transition: all 500ms ease-in-out;
}

.containerActive {
  position: relative;
  flex: 10;
}
.containerActive > .subList {
  display: flex;
}
.containerChoosen .button {
  overflow: hidden;
}
.containerChoosen {
  flex-direction: row;
  align-items: flex-start;
}
.button {
  min-width: 67px;
  margin-bottom: 3px;
  font-size: 18px;
  border-radius: 5px;
  min-height: 30px;
  cursor: pointer;
  color: rgb(2, 2, 2);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  border-radius: 10px;
  background-color: rgb(233, 126, 126);
}
.button2 {
  background-color: rgb(155, 155, 238);
}
.buttonSecond {
  min-width: 130px;
  transition: all 500ms ease-in-out;
}
.button--active {
  flex: 10;
}
.subList .button {
  margin-left: 10px;
  margin-right: 10px;
}
.visuallyHidden {
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
